#loginForm {
    text-align: center;
    display: inline-block;
}

#loginSubmitBtn {
    text-align: center;
    display: inline-block;
}

#inputerUsername, #inputPassword{
    width: 150px;
    text-align: center;
}

/* EDIT */
.addNew:hover {
    text-decoration: underline !important;
    color:white;
}
