body{
    background-color: #18BC9C;
}


#loginForm {
    display: inline-block;
    margin: none;

}

#loginSubmitBtn {
    text-align: center;
    display: inline-block;
}

#inputerUsername, #inputPassword{
    width: 150px;
    text-align: center;
}

.home-img{
    width: 30%;
    height: 30%;
}

#portfolio{
    text-align: center;
}


/* EDIT */
.addNew:hover {
    text-decoration: underline !important;
    color:white;
}

